@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.card{
  margin: auto;
  padding: auto;
  width: 80%;
  background-color: #f2f2f2;
  height: 100px;
  margin-top: 50px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
}

.infos{
  width: 100%;
  margin-left: 50px;
  padding-top: 10px;
  display: grid;
}

.icons{
  border: none;
  float: right;
  margin-right: 2%;
}

.bxs-pencil:hover{
  color: blue;
}

.bxs-trash:hover{
  color: red;
}

.bx{
  font-size: 45px;
}
