<div class="content">
  <h1>NOVO ALUNO</h1>

  <!-- Create Form -->
  <form id="form">

      <!-- Details -->
      <div class="form-control">
          <label for="name" id="label-name">
              Nome
          </label>

          <!-- Input Type Text -->
          <input type="text"
                 id="name"
                 placeholder="Insira o nome" />
      </div>

      <div class="form-control">
          <label for="email" id="label-email">
              Email
          </label>

          <!-- Input Type Email-->
          <input type="email"
                 id="email"
                 placeholder="Insira o email" />
      </div>

      <div class="form-control">
          <label for="age" id="label-age">
              Idade
          </label>

          <!-- Input Type Text -->
          <input type="text"
                 id="age"
                 placeholder="Insira o idade" />
      </div>

      <div class="form-control">
          <label for="role" id="label-role">
             Qual seu nivel de academia?
          </label>

          <!-- Dropdown options -->
          <select name="role" id="role">
              <option value="student">Iniciante</option>
              <option value="intern">Intermediario</option>
              <option value="professional">
                  Avançado
              </option>
          </select>
      </div>

      <div class="form-control">
          <label>Treinos:
          </label>
          <!-- Input Type Checkbox -->
          <label for="inp-1">
              <input type="checkbox"
                     name="inp">Voadora</label>
          <label for="inp-2">
              <input type="checkbox"
                     name="inp">Crucifixo</label>
          <label for="inp-3">
              <input type="checkbox"
                     name="inp">Longpress</label>
          <label for="inp-4">
              <input type="checkbox"
                     name="inp">Abdominal</label>
          <label for="inp-5">
              <input type="checkbox"
                     name="inp">Barra reta</label>
          <label for="inp-6">
              <input type="checkbox"
                     name="inp">Esteira</label>
          <label for="inp-7">
              <input type="checkbox"
                     name="inp">Bicicleta</label>
          <label for="inp-7">
              <input type="checkbox"
                     name="inp">Supino</label>
          <label for="inp-7">
              <input type="checkbox"
                     name="inp">Cadeira extensora</label>
      </div>
      <button type="submit" value="submit">
          Criar
      </button>
  </form>
</div>
